#header {

    position: fixed;
    z-index: 1;
    width: 100vw;
}


img {

    max-width: 100%;
    
    
    height: auto;
}

#bannerimg{

    height: 100vh;
   
    img{
        width: 100vw;
        
    }
}

ul {

    padding-left: 0;
    position: fixed;
    list-style-type: none;
    z-index: 10;
   
    
}

ul li {
    flex-basis: 26%;
}
 

ul li a {
    text-decoration-line: none;
    font-size: 1.2rem;
}

#btn1 {
    z-index: 4;

}
#coursediv{

margin-top: -30vh;

}


#skillsbtn{
    background: rgba(0,0,0,0.5);
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  #skillsbtn:hover{
    background:#fff;
    color:black;
    font-weight: bold;
  }
  #skillsbtn:before,#skillsbtn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  #skillsbtn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #skillsbtn:hover:before,#skillsbtn:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  #bannertxt {
      z-index: 6;
    position: absolute;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 85%;
    margin-top: -28rem;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0,0,0,0.8);
    

    h4{
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
    }

    

}


.flip-card {
  background-color: transparent;
  width: 350px;
  height: 429px;
  perspective: 1000px;
  margin-top: 10px;
}

.flip-card-inner {
  position: relative;
  width: 350px;
  height: 429px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 350px;
  height: 429px;
  backface-visibility: hidden;
  
}

.flip-card-front h3 {
  position: relative;
    margin-top: -15rem;
    color: white;
    font-size: 3rem;
    background-color: black;
}

.flip-card-front img {

    height: 100%;


}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  text-align: left;

  ul {
    text-align: left;
  }
}

.projectsarea{
    display: grid;
    justify-items: center;
    grid-gap: .5rem;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;

}

.projectsarea h1 {

  z-index: 5;
  background: darkslategray;
  color: white;
  
}


/*************Cards******************/

@media Screen and (min-width: 760px){
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
}

@media Screen and (min-width: 1000px){
.cards {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 26px;
}
}