
<div id="bannerimg">

        <img src="../assets/img/TR8_640.jpg" alt="" id="bannerimg">
    <div>
        <div id="bannertxt">
        <h4 id="introtxt">
                The perfect place for musical heaven.
        </h4>
        
        <h4 id="intro-booktest">
                Book a session now and let the music take you away.
        </h4>
    </div>
    <br><br>
   
    <div id="coursediv">
     
        <div class="course01">

            <ul class="features" id="features">

                <li>Cueing of tracks</li>
                <li>Measuring BPM(BEATS PER MINUTE)</li>
                <li>Mixing in different types of tempos/genres</li>
                <li>Exposure of different types of genre</li>
                <li>Introduction on equipments and its functions</li>
                <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                <li>Mixing points in tracks</li>
                <li>Setup of equipments</li>
                <li>Intro of cables for setup</li>
                
<li>Introduction of softwares(Traktor serato)</li>
<li>Using software VIA controller</li>
<li>Routing between software and controller</li> 
<li>Using major effects(echo delay reverb filter reverb)</li>
<li>using sample live inputs
<li>syncin temps</li>
<li>KEY FEATURES OF CONTROLLER</li>
<li>Presentative with your performance</li>
           </ul>
        </div>
        <div class="course02"></div>
        <div class="course03"></div>
        <div class="course04"></div>
        <div class="course05"></div>
        <div class="course06"></div>

        </div>
    </div>
    </div>
    PROFESSIONAL + DIGITAL DJ COURSE 

