
<div id="bannerimg">

        <img src="../assets/img/img1.jpg" alt="" id="bannerimg">
    <div>
        <div id="bannertxt">
        <h4 id="introtxt">
                INCREASE YOUR LEARNING CURVE WITH OUR SPECIALIZED COURSES.
        </h4>
        
        <h4 id="intro-booktest">
                WE HAVE A WIDE VARIETY OF INSTRUMENTS TO GUIDE YOU ON YOUR JOURNEY.
        </h4>
    </div>
    <br><br>
    <div class="projectsarea">
            <h1>OUR COURSES</h1>
         
            <div class="cards">
           
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault.jpg" alt="Avatar" > 
                        <h3>Recorders</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/img-ce-background-traktor_kontrol_s4_overview_04_4channelmixer_2x-eac9a664d4ba4f45a3704a1e571d3b84-d.jpg" alt="Avatar" > 
                        <h3>Mixers</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault.jpg" alt="Avatar" > 
                        <h3>Microphone</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault (1).jpg" alt="Avatar" > 
                        <h3>Outboard Gear</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/TKX1_MK2_img01_L.jpg" alt="Avatar" > 
                        <h3>Monitering/D.A.W.</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/TKX1_MK2_img01_L.jpg" alt="Avatar" > 
                        <h3>Instruments</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/TR8_640.jpg" alt="Avatar" > 
                        <h3>Sound Designing</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/wimpymusic6s2_mk2_00063_l.jpg" alt="Avatar" > 
                        <h3>Mixing</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/virus_bg.jpg" alt="Avatar" > 
                        <h3>Mastering</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
                </div>
                 
    </div>
    <div class="projectsarea">
            <h1>OUR EQUIPMENTS</h1>
         
            <div class="cards">
           
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault.jpg" alt="Avatar" > 
                        <h3>Recorders</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/img-ce-background-traktor_kontrol_s4_overview_04_4channelmixer_2x-eac9a664d4ba4f45a3704a1e571d3b84-d.jpg" alt="Avatar" > 
                        <h3>Mixers</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault.jpg" alt="Avatar" > 
                        <h3>Microphone</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault (1).jpg" alt="Avatar" > 
                        <h3>Outboard Gear</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/TKX1_MK2_img01_L.jpg" alt="Avatar" > 
                        <h3>Monitering/D.A.W.</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/TKX1_MK2_img01_L.jpg" alt="Avatar" > 
                        <h3>Instruments</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/TR8_640.jpg" alt="Avatar" > 
                        <h3>Sound Designing</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/wimpymusic6s2_mk2_00063_l.jpg" alt="Avatar" > 
                        <h3>Mixing</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/virus_bg.jpg" alt="Avatar" > 
                        <h3>Mastering</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                                        <li>record your own composition</li>
                                        <li>records your own tunes</li>
                                        <li>We have microphone, condensor and dynamic link needed to be directed to recording courses.</li>
                                        <li>Introduction on equipments and its functions</li>
                                        <li>Types of mixing(BAR MIXING LOOP MIXING)</li>
                                        
                        <li>Introduction of softwares(Traktor serato)</li>
                        <li>Using software VIA controller</li>
                        <li>Routing between software and controller</li> 
                        <li>Using major effects(echo delay reverb filter reverb)</li>
                        <li>using sample live inputs
                        <li>KEY FEATURES OF CONTROLLER</li>
                        <li>Presentative with your performance</li>
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
                </div>
                 
    </div>

    <!-- <div id="coursediv">
     
            
        </div>

        
    </div>
    </div> -->

