
<div id="bannerimg">

        <img src="../assets/img/img1.jpg" alt="" id="bannerimg">
    <div>
        <div id="bannertxt">
        <h4 id="introtxt">
                Increase Your Learning curve with our Specialized courses.
        </h4>
        
        <h4 id="intro-booktest">
                We Have A Wide Variety Of Instruments to guide you on your journey.
        </h4>
    </div>
    <br><br>
    <div class="projectsarea">
            <h1>OUR COURSES</h1>
         
            <div class="cards">
           
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault.jpg" alt="Avatar" > 
                        <h3>BASIC ELECTRONIC MUSIC PRODUCTION <br>
                          (PRE PRODUCTION)
                         </h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                  <li>Introdution to DAW
                                  <li>Beat structuring
                                  <li>extended beats and bassline 
                                  <li>using drum rack and its routing features 
                                  <li>sampling 
                                  <li>making chords and rhythm sections
                                  <li>editing audio and vocals
                                  <li>editing,fx,structure
                                  <li>recording and editing MIDI 
                                  <li>basic mixdown
                                  <li>conclusion
                                  
                                        
                                      
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/img-ce-background-traktor_kontrol_s4_overview_04_4channelmixer_2x-eac9a664d4ba4f45a3704a1e571d3b84-d.jpg" alt="Avatar" > 
                        <h3>
                          ADVANCED MUSIC PRODUCTION COURSE <br>
                            (PRE AND POST PRRODUCTION)</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                <li>Fundamentals of sounds
                                  <li>basic electronics
                                  <li>intro to audio console
                                  <li>3D sound
                                  <li>music theory
                                  <li>using folley (recording voices)
                                  <li>signal flow of external instruments
                                  <li>dynamic signal processing 
                                  <li>signal flow of DAW
                                  <li>intro to sound design
                                  <li>application of musical instrument digital interface
                                  <li>A to D conversion - D to A conversion
                                  <li>mixdown and mastering
                                  <li>studio experience
                                  
                                        
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault.jpg" alt="Avatar" > 
                        <h3>SOUND DESIGNING</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                  <li>envelope of sound
                                  <li>voltage control filters ( VCA and VCF )
                                  <li>gates and triggers
                                  <li>slew and portmento
                                  <li>synthesis
                                <li>additive synthesis 
                                <li>subtractive synthesis
                                <li>granular synthesis
                                <li>amplitude synthesis
                                <li>wave table synthesis
                                <li>ring modulation
                                <li>frequency modulation 
                                  <li>Graphic EQ
                                  <li>compressor
                                  <li>signal flow of synthesiser
                                  <li>using pitch and modulation
                                         
                                        
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault (1).jpg" alt="Avatar" > 
                        <h3>REMIX COURSE</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                        
                                        
                       
                                <li>making compostiion
                                <li>beat structure
                                <li>recording vocal and other instrument
                                <li>using MIDI VSTS
                                <li>sample editing loops and vocals(acapellas)
                                <li>arrangement 
                                <li>programming 
                                <li>syncing 
                                <li>using electronic sounds 
                                <li>making notes and chord progression and basslines
                                <li>mixdown and basic mastering 
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/TKX1_MK2_img01_L.jpg" alt="Avatar" > 
                        <h3>DIGITAL DJING COURSE (traktor S2 MK2 )</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">
                                   <li>Introdution of softwares (traktor , serato , virtual dj)
                                 <li>using software via controller
                                 <li>routing between software and controller
                                 <li>intro on controller
                                 <li>mapping software with controller
                                 <li>using effect section 
                                 <li>using sample units
                                 <li>mixing different types of genre 
                                 <li>setting cue points
                                 <li>syncing tempo (BPM)
                                 <li>types of mixing ( bar mixing , loop mixing)
                                 <li>key features of controller and its advantages.
                                 <li>presentative with your performance.
                                        
                                        
                        
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/TKX1_MK2_img01_L.jpg" alt="Avatar" > 
                        <h3>Learn Instruments</h3>
                      </div> 
                      <div class="flip-card-back"> 
                        
                                <ul class="features" id="features">

                                  <li> Guitar (All Types)      
                                  <li> Keyboard       
                                  <li> Synthesiser       
                                        
                                  
                              
                    </ul>
                      </div> 
                    </div> 
                  </div> 
                 
    </div>
    <div class="projectsarea">
            <h1>OUR EQUIPMENTS</h1>
         
            <div class="cards">
           
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault.jpg" alt="Avatar" > 
                        <h3>Recorders</h3>
                      </div> 
                      
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/img-ce-background-traktor_kontrol_s4_overview_04_4channelmixer_2x-eac9a664d4ba4f45a3704a1e571d3b84-d.jpg" alt="Avatar" > 
                        <h3>Mixers</h3>
                      </div> 
                     
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault.jpg" alt="Avatar" > 
                        <h3>Microphone</h3>
                      </div> 
                      
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/maxresdefault (1).jpg" alt="Avatar" > 
                        <h3>Outboard Gear</h3>
                      </div> 
                     </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/TKX1_MK2_img01_L.jpg" alt="Avatar" > 
                        <h3>Monitering/D.A.W.</h3>
                      </div> 
                      
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/TKX1_MK2_img01_L.jpg" alt="Avatar" > 
                        <h3>Instruments</h3>
                      </div> 
                     
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/TR8_640.jpg" alt="Avatar" > 
                        <h3>Sound Designing</h3>
                      </div> 
                     
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/wimpymusic6s2_mk2_00063_l.jpg" alt="Avatar" > 
                        <h3>Mixing</h3>
                      </div> 
                     
                    </div> 
                  </div> 
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img  src="../assets/img/virus_bg.jpg" alt="Avatar" > 
                        <h3>Mastering</h3>
                      </div> 
                    </div> 
                  </div> 
                </div>
                 
    </div>

    <!-- <div id="coursediv">
     
            
        </div>

        
    </div>
    </div> -->

