<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
</head>
  <body >
    
   <div id="header">
  <div id="logoimg" >
<a routerLink= "/">
    <img src="../assets/img/logo.png" alt="WTF INTERNET" height="75px" width="105px" >
  </a>
  </div>

  <ul>
      <a href="#aboutSection"><li>About</li></a>
    <a routerLink="/bookservice"><li>Contact</li></a>
    <a routerLink="/courses"><li>Courses</li></a>
  </ul>
</div>
<router-outlet></router-outlet>
</body>
