
<div id="bannerimg">

    <img src="../assets/img/img1.jpg" alt="" id="bannerimg">
   

<div class="form-group">

    <h2 class="heading">Book a Free Session with us!!!</h2>
  
    <div class="controls">
      <input type="text" required class="floatLabel" name="name" placeholder="Name..." #name>
    </div>
    <div class="controls">
      <input type="text"  required class="floatLabel" name="email" placeholder="Email..." #email>
     
    </div>       
    <div class="controls">
      <input type="tel"  class="floatLabel" name="phone" placeholder="Phone Number..." #phone>
    </div>
      
       
      
  
    
   
      <div class="controls">
          <input placeholder="Select Your Free Session Date..." class="floatLabel" type="text" onfocus="(this.type='date')"  #date/>
        <!-- <input type="date"  class="floatLabel" name="date" placeholder="Select Your Free Session Date..." #date/> -->
      </div>      
   
    
      <div class="controls">
        <input type="button" id="skillsbtn" class="floatLabel" name="btn" value="Book Now" (click)="sendEmail(name.value, email.value, phone.value, date.value)"/>
        
          
    </div>

    
    </div>

    <div class="thanks" *ngIf="done">

      <span>Thank-you for booking an appointment with us! We will contact you shortly.</span>

    </div>
    </div>
      