
<div id="bannerimg">

    <img src="../assets/img/img1.jpg" alt="" id="bannerimg">
   

<div class="form-group">
    <h2 class="heading">Book an appointment with us!!!</h2>
    <div class="controls">
      <input type="text" id="name" class="floatLabel" name="name">
      <label for="name">Name</label>
    </div>
    <div class="controls">
      <input type="text" id="email" class="floatLabel" name="email">
      <label for="email">Email</label>
    </div>       
    <div class="controls">
      <input type="tel" id="phone" class="floatLabel" name="phone">
      <label for="phone">Phone</label>
    </div>
      
       
      
  
    
   
      <div class="controls">
        <input type="date" id="depart" class="floatLabel" name="depart"/>
        <label for="depart" class="label-date"><i class="fa fa-calendar"></i>Date</label>
      </div>      
   
    
      <div class="controls">
        <input type="button" id="btn" class="floatLabel" name="btn" value="Book Now" (click)="sendEmail()"/>
        
          
    </div>
    </div>
      