
<div id="bannerimg">

    <img src="../assets/img/img1.jpg" alt="" id="bannerimg">
<div>
    <div id="bannertxt">
    <h4 id="introtxt">
            The perfect place for musical heaven.
    </h4>
    
    <h4 id="intro-booktest">
            Book a session now and let the music take you away.
    </h4>
</div>
<br><br>
<div id="btndiv">
 
        <button id="skillsbtn">Book a Free Session</button>
       
        <button id="skillsbtn">View Courses</button>
    
    </div>
</div>
</div>

<div class="aboutSection" id="aboutSection">

<div class="quote">
<span id="quote">
    “Music is a moral law. It gives soul to the universe, wings to the mind, flight to the imagination, and charm and gaiety to life and to everything.” 
</span><br><span >― Plato</span>

</div>

<div id="aboutimg1">

    <img src="../assets/img/virus_bg.jpg" alt="">

</div>

<div class="description">

<h5>
        We make sure that we bring out the best in you by working on enhancing your skills and by helping you reach the peak of your potential. If you are passionate about making music and want to build a career in it, this is the place for you.A place where u can create or pull out all the tools used for music to discover, create and produce your own music.All we require from is an open mind to learn and in return we will ensure you the opportunity to experience the studio life like never before.
</h5>

</div>

</div>    

<div class="contactSection" id="contactSection">

        <div class="container">
          <div style="text-align:center">
            <h2>Contact Us</h2>
            <p>Swing by for a cup of coffee, or leave us a message:</p>
          </div>
          <div class="row">
            <div class="column">
              <img src="../assets/img/contactus.png" style="width:100%">
            </div>
            <div class="column">
              <form action="/action_page.php">
                <label for="lname">Name</label><br>
                <input type="text" id="lname" name="lastname" placeholder="Your name here..">
                <br>
                <div class="labeldiv">
                <label for="email">Email</label>
                 </div>
                
                <input type="text" id="email" placeholder="Your email address">
                <br>
                <label for="subject">Message</label>
                <br>
                <textarea id="subject" name="subject" placeholder="Let us know how can we help you in your musical journey.." style="height:170px"></textarea>
                <input type="submit" value="Submit" class="skillsbtn">
              </form>
            </div>
          </div>
        </div>
        
</div>